.hamburger {
    position: relative;
    &__button {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        background-color: transparent;
        border: none;
        font-size: 28px;
        outline: none;
        color: $greyish;
        &:hover {
            cursor: pointer;
        }
    }
    &--isActive {
        z-index: 11;
    }
}
