.menu {
    left: -1000px;
    width: 0;
    height: 0;
    position: fixed;
    padding: 20px;
    transition: left 1s ease-in-out;
    &.is-active {
        height: 100vh;
        width: 100vw;
        background-color: #fff;
        top: 0;
        left: 0;
        z-index: 10;
    }
    & ul {
        list-style-type: none;
    }
}

@media (min-width: 768px) {
    .menu {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        width: auto;
        height: auto;
        left: initial;
        top: initial;
        &__bottom {
            display: flex;
            flex-flow: row nowrap;
        }
    }
    .menu-item {
        margin-right: 20px;
    }
}
