.page {
    padding: 20px;

    &__title {
        text-align: center;
        padding: 20px 0;
        text-transform: uppercase;
    }
}

.page_title {
    padding: 20px 0;
    font-size: 32px;

    &::first-letter {
        text-transform: uppercase;
    }
}
