// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// import bulma
@import "~bulma/css/bulma.css";

// Variables
@import "variables";
@import "palette";

// import components
@import "./components/logo";
@import "./components/hamburger";
@import "./components/social-media";
@import "./components/hamburger-close";

// imports modules
@import "./modules/header";
@import "./modules/menu";
@import "./modules/page_content";
@import "./modules/footer";
@import "./modules/posts";
@import "./modules/post";
// Bootstrap
// @import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../../../public/images/background/background1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: $font-family-sans-serif;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    max-width: 1200px;
}
