// navbar
$navbar-background-color: $primary-color;
$navbar-item-color: $light;
$navbar-item-hover-color: $light-secondary;
$navbar-item-hover-background-color: $primary-color;
$navbar-dropdown-background-color: $primary-color;
$navbar-dropdown-background-color: $primary-color;
$navbar-dropdown-item-hover-color: $light;
$navbar-dropdown-item-hover-background-color: $secondary-color;

// menu
$menu-item-color: $light;
$menu-item-active-background-color: $secondary_color;
$menu-label-color: $light-secondary;
