// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
// import utilities
@import "./palette";
@import "./overrides";

// import bulma
@import "~bulma/bulma.sass";

// import modules
@import "./modules/menu";
@import "./modules/navbar";
@import "./modules/dashboard";

// components

// dashboard main page
@import "./components/main/main-panel";
@import "./components/pagination";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}
